<div class="container">
    <h1 class="text-center"><strong>Book Details</strong></h1>
    
    <div>
        <label> <b> Book Name: </b></label> {{book.bookTitle}}
    </div>
    <div>
        <label> <b> Author Name: </b></label> {{book.authorName}}
    </div>
    <div>
        <label> <b> Publisher: </b></label> {{book.publisher}}
    </div>
    <div>
        <label> <b> Book Type: </b></label> {{book.bookType}}
    </div>
    <div>
        <label> <b> Price: </b></label> {{book.price}}
    </div>
    <div>
        <label> <b> Stock/Qty: </b></label> {{book.stock}}
    </div>

</div>
